/*-LAYOUT */
section {
  background-color: #FF6347;
  height: 80vh;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size:16px;
  }
  <style>
  a:link {
      color: 1e90ff;
      background-color: transparent;
      text-decoration: none;
      span.navigationSpace {
    margin-left: 50px;
}
  }

  a:visited {
      color: orange;
      background-color: transparent;
      text-decoration: none;
}span.navigationSpace {
    margin-left: 140px;
}
  }

  a:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }span.navigationSpace {
    margin-left: 140px;
}

  a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: none;
      span.navigationSpace {
    margin-left: 140px;
}
  }
  </style>;

.main {
  background: ;
  border-radius: 5px;
  padding:1px;
  font-size: 110%;
}


footer {
  background-color: #00FFFF;
  padding:1px;
  height: 20vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:14px;
  span.navigationSpace {
    margin-left: 50px;
}


}
